name: Publish to PyPI
on:
  release:
    types: [published]

  jobs:
    build:
      name: Build and pybamm-cookie sdist and wheel
      runs-on: ubuntu-latest
      steps:
        - name: Checkout pybamm-cookie
          uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5

        - name: Build package
          run: pipx run build

        - name: Upload artifacts
          uses: actions/upload-artifact@v4.3.6
          with:
            name: sdist_and_wheel
            path: ./dist/*
            if-no-files-found: error

    publish-pypi:
      name: Upload package to PyPI
      needs: [build]
      runs-on: ubuntu-latest
      environment: release
      permissions:
        id-token: write

      steps:
        - name: Download all artifacts
          uses: actions/download-artifact@v4
          with:
            path: artifacts
            merge-multiple: true

        - name: Publish to PyPI
          uses: pypa/gh-action-pypi-publish@ec4db0b4ddc65acdf4bff5fa45ac92d78b56bdf0
          with:
            packages-dir: artifacts/
